body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 20px;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#re_container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

th {
  text-align: center !important;
}

tr td {
  text-align: center;
}

#button-area button {
  min-width: 60px;
}

#detail-area input[readonly],
#detail-area textarea[readonly],
#detail-area select[readonly] {
  cursor: default;
  background-color: #eee;
  user-select: none; /* 드래그 방지 */
  pointer-events: none; /* 클릭/드래그 막기 */
}

/* 단, 버튼이나 select는 제외하고 싶다면 pointer-events는 건드리지 않음 */
#detail-area button {
  pointer-events: auto;
}

/* 영역 숨기기 */
.area {
  display: none;
}
